body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

pre {
    margin: 0;
    font-size: 1.2em;
}

canvas {
    border: 2px solid #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
}

.buttons {
    margin-top: 20px;
    width: 90%;
    max-width: 300px;
}

.buttons button {
    margin: 5px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #004e92;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.buttons button:hover {
    background-color: #000428;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .buttons {
        width: 300px;
    }
}